<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zcg.hgshop.dao.SpecDao">
	<resultMap type="Spec" id="specMap">
		<result property="id" column="id" />
		<result property="spec_name" column="specName" />
		<collection property="options" column="id"  select="selectSpecOption">
		
		</collection>
	</resultMap>
	<select id="selectSpecOption" resultType="SpecOption">
	SELECT * from hg_spec_option where spec_id=#{id}
	</select>
	
	<select id="selects" resultMap="specMap">
	select * from hg_spec
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" >
	insert into hg_spec(spec_name) values(#{specName})
	</insert>
	<insert id="insertOption">
	insert into hg_spec_option(option_name,spec_id,orders) values(#{optionName},#{specId},#{orders})
	</insert>
	
	<delete id="delete">
	delete from hg_spec where id in
	<foreach collection="array" open="(" close=")" separator="," item="ids">
	#{ids}
	</foreach>
	</delete>
	<delete id="deleteOption">
	delete from hg_spec_option where spec_id=#{id}
	
	</delete>
	
	<update id="update">
	update hg_spec set spec_name=#{specName} where id=#{id}
	</update>
	
	<select id="getSpecById" resultMap="specMap">
	select * from hg_spec where id=#{id}
	</select>
	
	<select id="listOptionByskuId" resultType="SpecOption">
		select spec_option_id as id,spec_id as specId from hg_sku_spec where sku_id=#{value}
	</select>
	
	<select id="listOptionByskuId2" resultType="SpecOption">
		SELECT spec_option_id AS id ,ks.spec_id as specId, s.spec_name as specName , o.option_name as optionName  from hg_sku_spec ks 
		        LEFT JOIN hg_spec s on ks.spec_id=s.id 
                LEFT JOIN hg_spec_option o  on ks.spec_option_id=o.id
                WHERE ks.sku_id=#{value}
	</select>
</mapper>